$clicksign-background: #F4F2FF;
$clicksign-topbar-background: #1C1930;
$clicksign-button-primary-color: #695CCD;
$clicksign-emphasis-text-color: #1F1283;
$clicksign-normal-text-color: #717171;
$clicksign-golden-color: #FFB23D;
$clicksign-text-color: #717171;
$clicksign-page-header-height: 80px;