:root {
  --clicksign-background: #F4F2FF;
  --clicksign-topbar-background: #1C1930;
  --clicksign-primary-color: #695CCD;
  --clicksign-emphasis-text-color: #1F1283;
  --clicksign-normal-text-color: #717171;
  --clicksign-golden-color: #FFB23D;
  --clicksign-page-header-height: 80px;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body, #app {
  min-height: 100vh;
  color: var(--clicksign-normal-text-color);
}

body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background-color: var(--clicksign-background) !important;
}